services:
  hugo:
    image: ghcr.io/gohugoio/hugo:v0.144.1
    container_name: hugo-old
    volumes:
      - ./repo:/project
    working_dir: /project
    ports:
      - "1313:1313"
    environment:
      - REPO_NAME=  # Set this to the actual repository name when running
    command: >
      sh -c "cd \"$${REPO_NAME:-.}\" && hugo server --bind 0.0.0.0 --baseURL http://localhost --appendPort=false --watch"

  vscode:
    image: codercom/code-server:4.106.3-39
    container_name: code-server-old
    volumes:
      - ./repo:/project
    working_dir: /project
    ports:
      - "8087:8080"
    command: ["code-server", "--auth", "none", "--bind-addr", "0.0.0.0:8080", "/project"]
    environment:
      - CODE_SERVER_TRUSTED=1
      - DISABLE_WORKSPACE_TRUST=true
    tty: true

  blog-manager-old:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: blog-manager-old
    volumes:
      - ./hugo_blog_manager.py:/project/hugo_blog_manager.py  # Mount script
      - ./repo:/project  # Optional: mount whole project if needed
    ports:
      - "7860:7860"
    environment:
      - CODE_SERVER_URL=http://localhost:8087
    tty: true